*{
    margin: 0px;
    padding: 0px;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
.btn{
    font-size: 20px;
    font-weight: bold;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 18px 36px;
}

nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 800;
}
.orange-color{
    color: #FD6E0A;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

#banner{
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
#banner .banner-content{
    max-width: 585px;
    max-height: 356px;
}

#banner .banner-content h2{
font-size: 45px;
font-weight: 600;
color: #474747;
margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

#banner .btn-contact{
    font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 18px 23px 18px 58px;
    background-color: #FFF8F3;
    margin-left: 30px;
}

#banner .banner-image img{
    max-width: 584px;
    max-height: 676px;
    vertical-align: middle;
}


