*{
    margin: 0px;
    padding: 0px;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
.btn{
    font-size: 20px;
    font-weight: 600;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 36px;
}

nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 800;
}
.orange-color{
    color: #FD6E0A;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
